<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEq7qm1Dj3I8bFAeZ5Z5k6qLv1iTNR9ng</string>
	<key>GCM_SENDER_ID</key>
	<string>1092119565148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeongbinkim.CS4261-ToDoList-App</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-482d0</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-482d0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092119565148:ios:9b1f9fb282839202186799</string>
</dict>
</plist>